#main_wrapper
{
    width: 900px;
    margin: auto;
	background-image: linear-gradient(bottom, #E42D07 35%, #FF4821 68%);
background-image: linear-gradient(bottom, #EEFEC5 35%, #D5FE6D 68%);
background-image: -o-linear-gradient(bottom, #EEFEC5 35%, #D5FE6D 68%);
background-image: -moz-linear-gradient(bottom, #EEFEC5 35%, #D5FE6D 68%);
background-image: -webkit-linear-gradient(bottom, #EEFEC5 35%, #D5FE6D 68%);
background-image: -ms-linear-gradient(bottom, #EEFEC5 35%, #D5FE6D 68%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.35, #EEFEC5),
	color-stop(0.68, #D5FE6D)
);
	padding: 10px;
	border-radius:10px;
	box-shadow: 0px 4px 8px #124465;
}

body
{
	
	background-color: #EEFEC5;
	font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #136BE4;



}
article h1{
padding:0px;
margin:0px;
}
header
{
	
	position: relative;
	margin-bottom: 0px;
	border-bottom-color:#78affb;
	border-bottom:solid 3px;
	padding
}
#header li a:hover{
  color:#136BE4;
}
header > ul{
	list-style-type: none;
	position:absolute;
	right:0em;
	bottom:0em;
	margin-bottom:0px;
	margin-top:0px;
	padding-top:0px;
}
#main_nav ul{
padding-top:0px;
margin-top:0px;
}



#main_nav li
{
	display: inline-block;
	border: 2px solid #136BE4;
	border-top:none;
	border-bottom-left-radius: 15px;
	/*border-bottom-right-radius: 15px;*/
	padding: 5px;
	background-color: #78AFFB;
	
}
#main_nav li a
{
	text-decoration:none;
	font-size: 1.5em;
	color:#124465;	
}

#main_nav li a:hover
{
	color:#136BE4;
}

#main_nav
{
	/*border: 2px solid #000000;*/
	text-align: center;
	margin-bottom: 10px;
	margin-top:0px;
	padding-top:0px;
}

section
{
	/*border: 2px solid #000000;*/
}

aside
{
	display: inline-block;
	/*border: 2px solid #000000;*/
	vertical-align: top;
}

article
{
	width: 700px;
	height: 400px;
	display: inline-block;
	/*border: 2px solid #000000;*/
}

#main_login a
{
	border : 2px solid #136BE4;
	padding-left : 5px;
	padding-right : 5px;
	padding-top : 5px;
	border-radius: 5px;
	background-color : #78AFFB;
	position: relative;
	bottom: 0px;
	text-decoration:none;
	color:#124465;
}

#login_dropdown
{
	position: absolute;
	background-color: white;
	padding: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0px 4px 8px #124465;
	display: none;
	right: 0px;
}

#login_dropdown p
{
	margin-top: 0px;
}

#Arrow
{
	padding-left: 5px;
}

/*#Line
{
	padding-bottom: 7px;
}*/
/*
#main_nav
{
	background: url('/assets/Line.png') repeat-x bottom;
}*/