#main_wrapper
{
    width: 900px;
    margin: auto;
	background-image: linear-gradient(bottom, rgb(150,170,180) 21%, rgb(54,115,156) 61%);
	background-image: -o-linear-gradient(bottom, rgb(150,170,180) 21%, rgb(54,115,156) 61%);
	background-image: -moz-linear-gradient(bottom, rgb(150,170,180) 21%, rgb(54,115,156) 61%);
	background-image: -webkit-linear-gradient(bottom, rgb(150,170,180) 21%, rgb(54,115,156) 61%);
	background-image: -ms-linear-gradient(bottom, rgb(150,170,180) 21%, rgb(54,115,156) 61%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.21, rgb(150,170,180)),
	color-stop(0.61, rgb(54,115,156))
	
	);
	padding: 10px;
	border-radius:10px;
	box-shadow: 0px 4px 8px #124465;
}

body
{
	
	background-color: #69a6ce;
	font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #f4a94a;



}

header
{
	/*border: 2px solid #000000;*/
	position: relative;
	margin-bottom: 10px;
	border-bottom-color:#f4a94a;
	border-bottom:solid 3px;
}
#header li a:hover{
  color:#f4a94a;
}
header > ul{
	list-style-type: none;
	position:absolute;
	right:0em;
	bottom:0em;
	margin-bottom:0em;
}


header a
{
	
}

#main_nav li
{
	display: inline-block;
	border: 2px solid #F4A94A;
	border-radius: 5px;
	padding: 5px;
	background-color: #F4A94A;
}
#main_nav li a
{
	text-decoration:none;
	font-size: 1.5em;
	color:#124465;	
}

#main_nav li a:hover
{
	color:#f4a94a;
}

#main_nav
{
	/*border: 2px solid #000000;*/
	text-align: center;
	margin-bottom: 10px;
}

section
{
	/*border: 2px solid #000000;*/
}

aside
{
	display: inline-block;
	/*border: 2px solid #000000;*/
	vertical-align: top;
}

article
{
	width: 700px;
	height: 400px;
	display: inline-block;
	/*border: 2px solid #000000;*/
}

#main_login a
{
	border : 2px solid #F4A94A;
	padding-left : 5px;
	padding-right : 5px;
	padding-top : 5px;
	border-radius: 5px;
	background-color : #F4A94A;
	position: relative;
	bottom: 0px;
	text-decoration:none;
	color:#124465;
}

#login_dropdown
{
	position: absolute;
	background-color: white;
	padding: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0px 4px 8px #124465;
	display: none;
	right: 0px;
}

#login_dropdown p
{
	margin-top: 0px;
}

#Arrow
{
	padding-left: 5px;
}

/*#Line
{
	padding-bottom: 7px;
}*/
/*
#main_nav
{
	background: url('/assets/Line.png') repeat-x bottom;
}*/