form{
border:solid;
border-color:#78AFFB;
border-radius: 5px;
padding:5px;
height:300px;
width:400px;
}

form label{
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
form input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0px 20px 0px;
padding:1px;
}
form #booking_collect{
margin-left:142px;
}
form #booking_booking_postcode{
margin-bottom: 0px;
margin-left:2px;
width:100px;
}
form #booking_promocode{
width:100px;
margin-left:2px;
}
.actions input{
display:inline-block;
width:120px;
float:right;
border-radius:100px;
}
textarea {
    resize: none;
}